node_modules/
/.project
/.settings
/.buildpath
/.vscode

/docker/data/
/docker/composer/cache
/bin/composer_vendor/
/bin/composer/
/bin/phpcs/
/docker/composer/cache
/public/
/tmp
/shared

Thumbs.db

*.log
*.codekit
*.codekit3
*.bak
*.swp
*.tmp
*.code-workspace

.idea
.sass-cache
.svn
.cvs
.DS_Store
.DS_Store?

._*

.Spotlight-V100
.Trashes


# Ignore build assets
/source/theme/assets/css/
/source/theme/assets/js/
/source/theme/assets/sprite/